/.settings
/bin
/gen
/obj
/.classpath
/.project
/.cproject
/.idea
/*.iml
/out
/local.properties
/qrom.properties
/debug.keystore
/test/bin
/test/gen
/test/.classpath
/test/.project
/test/project.properties
/test/obj
